

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-display: block;
font-size: larger;
    color: rgb(135, 206, 235);
}


h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    font-style: italic;
    color:rgb(135, 206, 235);

}

h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    font-style: normal;
    color:white;



}
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    font-size: medium;
    color:rgb(135, 206, 235);
}




table {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    color: rgb(135, 206, 235);

}

tr, th {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    color:white;

}

td{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    color: rgb(135, 206, 235);

}

theader{
  color: rgb(237,131,170);
}


body{
    background-color: rgb(45,45, 56);
    background-opacity: 45%;
    text-align: center;
}
    
.parent {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically: do not eat */
  height: 300px;           /* Height is needed for vertical centering */
}

.child {
  margin: 20px;            /* Adds external spacing around the centered box */
}
.star-rating button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 5rem;
  padding: 0 4px;
}

.on {
  color: gold;
}

.off {
  color: #ccc;
}

.star-rating button:hover {
  color: white;
}
